body {
	font-family: 'Lato', sans-serif;
	background-color: #5A1014;
}

#header {
	width: 100%;
	color: #E0E0E0;
	margin: auto;
}

#map {
	width: 720px;
	height: 480px;
	margin: 0 auto; /* center div */
	margin-top: 50px;
}

/* iPhone 5/5s portrait */
@media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
	#map {
		width: auto;
		height: 400px;
		margin-top: 0px;
	}
}

/* iPhone 5/5s landscape */
@media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) {
	#map {
		width: auto;
		height: 400px;
		margin-top: 0px;
	}
}


/* iPhone 6/6s portrait */
@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
	#map {
		width: auto;
		height: 450px;
		margin-top: 0px;
	}
}

/* iPhone 6 plus portrait */
@media only screen and (max-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
	#map {
		width: auto;
		height: 450px;
		margin-top: 0px;
	}
}
